/* Declarar clases con el color por defecto del tema para que sea dinámico */
.theme-bg{ background-color: @theme-color; }
.theme-color{ color: @theme-color; }

/* Que desaparezca en pantallas pequeñas el Menu Style > Offer del tema Clarico */
@media (max-width: 1000px) {
  section#palas_y_balones {
    display: none;
  }
}

div.login_area_container a.regresar.btn.btn-link:hover{
    background-color: #ff7f00;
}

/* En el Tema Clarico está !important, por lo que no se da cambiado.
Editado  /addons/clarico_shop_left_sidebar/static/src/less/shop_left_categ.less para quitarle el !important */
.oe_shop_left {
    width: 24.5% !important;
}

/* Texto Aviso Empresas en el formulario de registro */
.registro-aviso-empresas{
	font-size: large;
}
div.signin_main_div form > div.oe_login_buttons.c_signup_link_btn{
	margin-bottom: 16px;
	border-bottom: 1px solid #ccc;
}

/* Buscador que va encima de las categorias */
#products_grid_before > div.products_grid_before_maxW > form{
	margin-bottom: 32px;
}

/* Aumentar alto máximo en miniaturas (sport equipalia) */
.b_fashion_part_img_div img {
    max-height: 275px !important;
}
