/* VIMENPAQ BOOTSRAP SELECT */

#vimenpaq_sel_office{
    .panel-body.vimenpaq{
        img{
            margin-top: 3px;
            margin-bottom: 12px;
        }

        .help-block{
            font-size: 84%;
            line-height: 1.4;
            margin-bottom: 20px;
        }

        .dropdown.bootstrap-select{
            width: 100%;

            div.dropdown-menu.open{
                max-height: 550px !important;

                div.inner.open{
                    max-height: 500px !important;

                    ul.dropdown-menu{
                        small.text-muted{
                            display: block;
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }
}
